* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  background-image: url("./material/reed-geiger-_yXN-3jHrfg-unsplash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.search-bar {
  padding: 20px;
  width: 50vh;
  border-style: none;
  border-radius: 10px;
  background-color: rgb(221, 221, 221);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}

.search-bar:hover {
  cursor: crosshair;
}

.search-bar:focus {
  outline: none !important;
  background-color: #fff;
}

.location {
  font-size: 104px;
  padding: 20px;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.75);
}

.temperature {
  padding: 100px 50px;
  font-size: 68px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}

@media (max-width: 700px) {
  .App {
    height: 100vh;
    width: auto;
  }

  .search-bar {
    width: 300px;
  }

  .location {
    font-size: 58px;
  }

  .temperature {
    padding: 80px 30px;
  }
}

@media (max-width: 330px) {
  .App {
    height: 100vh;
    width: auto;
  }

  .search-bar {
    width: fit-content;
  }

  .location {
    font-size: 38px;
  }

  .temperature {
    padding: 50px 20px;
  }
}
